# --- Node / Frontend ---
node_modules/
dist/
.env
.env.*

# --- .NET / Backend ---
bin/
obj/
*.user
*.vs
*.swp
*.suo
.vscode/
.idea/

# secrets
appsettings.json
appsettings.Development.json

# Logs
*.log

# OS / Editor files
.DS_Store
Thumbs.db
